{% extends "base.html.twig" %}
{% block content %}
    <h2 class="ui dividing header">
        <a href="{{ path('hub_show', {'token': hub.token}) }}">
            {{ hub.name }}
        </a>
        / Edit
    </h2>

    <div id="page">
        <form method="POST" id="edit_hub" class="ui form" style="margin-top: 1rem;">
            <div class="ui grid">
                <div class="ten wide column">
                    <div class="field">
                        <label for="edit_hub_description">Hub Description</label>
                        <div class="ui card w-100">
                            <textarea id="edit_hub_description" name="edit_hub_description" required="false">{{ hub.description }}</textarea>
                        </div>
                    </div>
                    <script>
                        var textarea_description = CodeMirror.fromTextArea(document.getElementById("edit_hub_description"), {
                            mode: {
                                name: "gfm",
                                tokenTypeOverrides: {
                                    emoji: "emoji"
                                }
                            },
                            scrollbarStyle: "simple",
                            lineNumbers: true,
                            theme: "default"
                        });
                        textarea_description.setSize("100%", "100%");
                    </script>
                </div>
                <div class="six wide column">
                    <div class="field">
                        <label>Name</label>
                        <div class="two fields">
                            <div class="field">
                                <input type="text" name="name" placeholder="Hub name" value="{{ hub.name }}" required="true">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="ui button basic green" formnovalidate>
                        <i class="edit icon"></i>
                        Edit
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}