{% extends 'base.html.twig' %}
{% block title %}Toaster | Hubs{% endblock title %}
{% block og_title %}Toaster | Hubs{% endblock og_title %}
{% block content %}
    {% for hub in hubs %}
        <h2 class="ui dividing header">
            <a href="{{ path('hub_show', {'token': hub.token}) }}">
                {{ hub.name }}
            </a>
            /
        </h2>
        {{ render(controller('App\\Controller\\HubController::getLastFiles', {'hub': hub})) }}
    {% endfor %}
{% endblock %}