{% if stockage.description %}
    <div class="ui card w-100">
        <div class="ui divider" style="margin: 0;"></div>
        <textarea id="description">{{ stockage.description }}</textarea>
        <script>
            var editor = CodeMirror.fromTextArea(document.getElementById("description"), {
                mode: {
                    name: "gfm",
                    tokenTypeOverrides: {
                        emoji: "emoji"
                    }
                },
                readOnly: true,
                scrollbarStyle: "simple",
                lineNumbers: true,
                theme: "default"
            });
            editor.setSize("100%", "100%");
        </script>
    </div>
{% endif %}
