{% extends 'base.html.twig' %}

{% block content %}
    {% for stockage in stockages %}
        <h2 class="ui dividing header">
            <a href="{{ path('stockage_show', {'token': stockage.token}) }}">
                {{ stockage.name }}
            </a>
            /
        </h2>
        {% if stockage.files|length %}
            <div class="ui four cards">
                {% for file in stockage.files|reverse|slice(0, 4) %}
                    {% include "file/_card_min.html.twig" %}
                {% endfor %}
            </div>
        {% else %}
            <p>
                File(s) is not found.
            </p>
        {% endif %}
    {% endfor %}
{% endblock %}