<div class="ui segment">
    <h2 class="ui header">
        <img class="ui image" src="{{ asset('images/logo.png') }}">
        <div class="content">
            Welcome in the Toaster
        </div>
        </h2>
    <p>
        Toaster is a social network about file sharing. 
        It works with a hub system that segments the different shares. <br>
        All files uploaded to Toaster.bio are open-source, which means that the whole community can access/download them.
    </p>
</div>