{% extends 'base.html.twig' %}

{% block content %}
    {% include "_info.html.twig" %}
    {% for hub in hubs %}
        <h2 class="ui dividing header">
            <a href="{{ path('hub_show', {'token': hub.token}) }}">
                {{ hub.name }}
            </a>
            /
        </h2>
        {{ render(controller('App\\Controller\\HubController::getLastFiles', {'hub': hub})) }}
    {% endfor %}
{% endblock %}