{% extends 'base.html.twig' %}

{% block content %}
    {% if not app.user %}
        <div class="ui placeholder segment">
            <div class="ui two column stackable center aligned grid">
                <div class="ui vertical divider">Or</div>
                <div class="middle aligned row">
                    <div class="column">
                        <div class="ui header">
                            Login
                        </div>
                        {{ render(controller('App\\Controller\\LoginController::login')) }}
                    </div>
                    <div class="column">
                        <div class="ui header">
                            Registration
                        </div>
                        {{ render(controller('App\\Controller\\RegistrationController::register')) }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% for hub in hubs %}
        <h2 class="ui dividing header">
            <a href="{{ path('hub_show', {'token': hub.token}) }}">
                {{ hub.name }}
            </a>
            /
        </h2>
        {% if hub.files|length %}
            <div class="ui four cards">
                {% for file in hub.files|reverse|slice(0, 4) %}
                    {% include "file/_card_min.html.twig" %}
                {% endfor %}
            </div>
        {% else %}
            <p>File(s) is not found.</p>
        {% endif %}
    {% endfor %}
{% endblock %}