{% extends 'base.html.twig' %}
{% block title %}Toaster | Tags{% endblock %}
{% block og_title %}Toaster | Tags{% endblock %}
{% block content %}
    <h2 class="ui dividing header">
        Tags
    </h2>
    {% for tag in tags %}
        <a href="{{ path('tag_show', {'slug': tag.slug}) }}" class="ui image purple label item margin">
            {{ tag.name }}
            <div class="detail">{{ tag.files|length }}</div>
        </a>
    {% endfor %}
{% endblock %}