{% extends 'base.html.twig' %}
{% block title %}Toaster | Tags{% endblock %}
{% block og_title %}Toaster | Tags{% endblock %}
{% block content %}
    {% for tag in tags %}
        <h2 class="ui dividing header">
            <a href="{{ path('tag_show', {'slug': tag.slug}) }}">
                #{{ tag.name }}
            </a>
        </h2>
        {{ render(controller('App\\Controller\\TagController::getLastFiles', {'tag': tag})) }}
    {% endfor %}
{% endblock %}