{% extends 'base.html.twig' %}

{% block content %}
    {% for hub in hubs %}
        <h2 class="ui dividing header">
            <a href="{{ path('hub_show', {'token': hub.token}) }}">{{ hub.name }}</a>
            / 
            <a href="{{ path('tag_show', {'slug': tag.slug}) }}">#{{ tag.name }}</a>
        </h2>
        {% if hub.files|length %}
            <div class="ui one cards">
                {% for file in hub.files|reverse %}
                    {% include "file/_card.html.twig" %}
                {% endfor %}
            </div>
        {% else %}
            <p>
                File(s) is not found.
            </p>
        {% endif %}
    {% endfor %}
{% endblock %}