{% extends 'base.html.twig' %}
{% block title %}Toaster | Tag / {{ tag.name }}{% endblock %}
{% block og_title %}Toaster | Tag / {{ tag.name }}{% endblock %}
{% block content %}
        <h2 class="ui dividing header">
            <a href="{{ path('tag_show', {'slug': tag.slug}) }}">#{{ tag.name }}</a>
        </h2>
        {% if tag.files|length %}
            <div class="ui four cards">
                {% for file in tag.files|reverse %}
                    {% include "file/_card_min.html.twig" %}
                {% endfor %}
            </div>
        {% else %}
            <p>
                File(s) is not found.
            </p>
        {% endif %}
{% endblock %}